<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title><%= page_title(@conn, assigns) %></title>
  <meta name="author" content="<%= page_author(@conn, assigns) %>">
  <meta name="keywords" content="<%= page_keywords(@conn, assigns) %>">
  <meta name="description" content="<%= page_description(@conn, assigns) %>">
  <meta name="google-site-verification" content="<%= Application.get_env(:exblur, :sitemap)[:verify] %>" >

  <%= if showpage?(@conn) && @conn.assigns[:entry] do %>
    <meta property="og:type" content="video.movie" >
    <meta property="og:title" content="<%= page_title(@conn, assigns) %>" >
    <meta property="og:image" content="<%= thumb_one @entry.thumbs %>" >
    <meta property="og:url" content="<%= entry_path @conn, :show, @entry.id, safe_title(@entry.title) %>" >
    <meta property="og:site_name" content="<%= gettext "Site Name" %>" >

    <meta name="twitter:image" content="<%= thumb_one @entry.thumbs %>">
    <meta name="twitter:title" content="<%= page_title(@conn, assigns) %>">
    <meta name="twitter:url" content="<%= entry_path @conn, :show, @entry.id, safe_title(@entry.title) %>">
    <meta name="twitter:domain" content="<%= Application.get_env(:exblur, Exblur.Endpoint)[:url][:host] %>">
    <%# <meta name="twitter:card" content="player"> %>
    <%# <meta name="twitter:site" content=""> %>
    <%# <meta name="twitter:creator" content=""> %>
    <%# <meta name="twitter:player" content=""> %>
    <%# <meta name="twitter:player:width" content="640"> %>
    <%# <meta name="twitter:player:height" content="360"> %>
  <% end %>

  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

  <!-- Generate link alternate tags -->
  <%#= for {lang, path} <- language_annotations(@conn) do %>
    <%#= Phoenix.HTML.Tag.tag(:link, rel: "alternate", hreflang: lang, href: path) %>
  <%# end %>

</head>

<body>

  <%= render "_header.html", assigns %>

  <div id="wrap">
    <%= render @view_module, @view_template, assigns %>
  </div> <!-- /container -->

  <%= render "_footer.html", assigns %>

  <script><%= "window.isMobile = #{mobile? @conn};" %></script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
