<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <title><%= page_title(@conn, assigns) %></title>
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="google-site-verification" content="<%= Application.get_env(:exblur, :sitemap)[:verify] %>" />

  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body>

  <%= render "_header.html", assigns %>

  <!--
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  -->

  <div id="wrap">
    <%= render @view_module, @view_template, assigns %>
  </div> <!-- /container -->

  <%= render "_footer.html", assigns %>

  <script><%= "window.isMobile = #{mobile? @conn};" %></script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
