<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title><%= page_title(@conn, assigns) %></title>
  <meta name="author" content="<%= page_author(@conn, assigns) %>">
  <meta name="keywords" content="<%= page_keywords(@conn, assigns) %>">
  <meta name="description" content="<%= page_description(@conn, assigns) %>">
  <meta name="google-site-verification" content="<%= Application.get_env(:exblur, :sitemap)[:verify] %>" />

  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

  <!-- Generate link alternate tags -->
  <%#= for {lang, path} <- language_annotations(@conn) do %>
    <%#= Phoenix.HTML.Tag.tag(:link, rel: "alternate", hreflang: lang, href: path) %>
  <%# end %>

</head>

<body>

  <%= render "_header.html", assigns %>

  <div id="wrap">
    <%= render @view_module, @view_template, assigns %>
  </div> <!-- /container -->

  <%= render "_footer.html", assigns %>

  <script><%= "window.isMobile = #{mobile? @conn};" %></script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
