<ul class="media-list" style="padding: 0px 3px 3px;">

  <%# display above 3 vidoes %>
  <%#= ads_list(3).each.with_index(1) do |entry, index| %>
      <%#= render partial: 'entries/entries_list_adsense', locals: {
        adsense: entry,
        index: index,
        adsense_category: defined?(adsense_category) ? adsense_category : 'entries_list'
      } %>
  <%# end %>

  <%#
  records = @entries || entries
  limit = defined?(adlimit) ? adlimit : 3
  %>
  <%# entries_list_with_ads(records, limit).each.with_index(1) do |entry, index| %>
  <%= for entry <- @entries.entries do %>

    <%#= if entry.is_a?(Adsense) %>
      <%#= render partial: 'entries/entries_list_adsense', locals: {
        adsense: entry,
        index: index,
        adsense_category: defined?(adsense_category) ? adsense_category : 'entries_list'
      } %>
    <%# else %>

      <%# entry = EntriesDecorator.new entry %>

      <%#- cache ['list', request.smart_phone?, request.mobile?, entry] do -%>

        <li itemprop="videogallery" itemscope itemtype="http://schema.org/VideoGallery" class="media" style="border-bottom: 1px solid #eeeeee;">
          <meta itemprop="url" content="<%= entry_path @conn, :show, entry.id, entry.title %>" />
          <meta itemprop="name" content="<%= entry.title %>" />
          <meta itemprop="headline" content="<%= entry.title %>" />
          <meta itemprop="description" content="<%= entry.content %>" />
          <meta itemprop="image" content="<%= if length(entry.thumbs) > 0, do: thumb = List.first(entry.thumbs); thumb.__struct__.get_thumb(thumb) %>">
          <meta itemprop="thumbnailUrl" content="<%= if length(entry.thumbs) > 0, do: thumb = List.first(entry.thumbs); thumb.__struct__.get_thumb(thumb) %>" />
          <meta itemprop="timeRequired" content="<%#= Duration.new(entry.time).iso8601 %>" />
          <meta itemprop="datePublished" content="<%#= entry.published_at.iso8601 %>" />
          <meta itemprop="keywords" content="<%= Enum.join(Enum.map(entry.tags, fn(tag) -> tag.name end), ",") %>" />

          <a class="pull-left"
             style="margin-right: 5px;"
             href="<%= entry_path @conn, :show, entry.id, entry.title %>"
             rel="bookmark"
             data-list-index="<%#= index %>" <%# for access counter %>
             <%# data-no-turbolink="1" %>
          >
            <img
              <%# data-src="holder.js/100x66" %>
              <%# src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4=' %>
              style="width: 150px; height: 99px; margin-bottom: 3px;"
              class="media-object"
              alt="<%= truncate entry.content, length: 100 %>"
              src="<%= if length(entry.thumbs) > 0, do: thumb = List.first(entry.thumbs); thumb.__struct__.get_thumb(thumb, "size_200x132") %>"
              >
          </a>

          <div class="media-body">

            <p style='white-space: nowrap;'>
              <%= for tag <- Enum.take(entry.tags, (if mobile?(@conn), do: 2, else: 10)) do %>
                <a href="<%#= entries_path tag.name %>"
                    title="<%= gettext "Jump to %{tag}'s video results", tag: tag.name %>"
                    rel="category tag">
                  <span class="glyphicon glyphicon-tag label label-primary"><%= tag.name %></span>
                </a>
              <% end %>
            </p>

            <a href="<%= entry_path @conn, :show, entry.id, entry.title %>"
               rel="bookmark"
               data-list-index="<%#= index %>"
               <%# data-no-turbolink="1" %>
              >

              <p>
                <h4 class="media-heading"
                    style="color: #333; font-size: <%= if desktop?(@conn), do: "15", else: "13" %>px;">
                  <%= title_with_link @conn, entry %>
                </h4>
              </p>

              <%= if desktop? @conn do %>
                <p style="color: #555; font-size: 12px;">
                  <%= entry.content %>
                </p>
              <% end %>

            </a>

            <p class='text-right'>
              <span class="label label-danger"><%= round(entry.time / 60) %><%= gettext " Min" %></span>
              <span class="label label-default"><%= time_ago_in_words entry.published_at %><%= gettext " ago" %></span>
            </p>

          </div>

        </li>
      <%# end  # cache end %>
    <%# end  # else end %>
  <% end %>

</ul>
