<%= if !@conn.params["list"] && desktop?(@conn) do %>
  <%= render "_entries_film.html", conn: @conn, entries: @entries %>
<% end %>

<%= if @conn.params["list"] && desktop?(@conn) do %>
  <%= render "_entries_list.html", conn: @conn, entries: @entries %>
<% end %>

<%= if mobile? @conn do %>
  <%= render "_entries_list.html", conn: @conn, entries: @entries %>
<% end %>
