<div class="encircle">

<%# Display avobe 5 videos %>
<%# Adsense.main_list_first.immobiled.reorder("created_at").each.with_index(1) do |entry, index| %>
    <%#= render partial: 'entries_film_adsense', locals: {
      adsense: entry,
      index: index,
      adsense_category: defined?(adsense_category) ? adsense_category : 'entries_list'
    } %>
<%# end %>

<%# (@entries || entries).each.with_index(1) do |entry, index| %>
<%= for entry <- @entries.entries do %>

    <%# entry = EntriesDecorator.new entry %>
    <%#- cache ['film', request.smart_phone?, request.mobile?, entry] do -%>

      <%#
         Film column setting
         - col-md-4: 3 lines
         - col-md-3: 4 lines
      %>
      <div itemprop="videogallery" itemscope itemtype="http://schema.org/VideoGallery"
           class="col-sm-6 col-md-3" style='max-height: 330px; min-height: 330px; '>
        <meta itemprop="url" content="<%= entry_path @conn, :show, entry.id, entry.title %>" />
        <meta itemprop="name" content="<%= entry.title %>" />
        <meta itemprop="headline" content="<%= entry.title %>" />
        <meta itemprop="description" content="<%= entry.content %>" />
        <meta itemprop="image" content="<%= thumb_one entry.thumbs %>" />
        <meta itemprop="thumbnailUrl" content="<%= thumb_one entry.thumbs %>" />
        <meta itemprop="timeRequired" content="<%#= Duration.new(entry.time).iso8601 %>" />
        <meta itemprop="datePublished" content="<%#= entry.published_at.iso8601 %>" />
        <meta itemprop="keywords" content="<%= Enum.join(Enum.map(entry.tags, fn(tag) -> tag.name end), ",") %>" />

        <div class="thumbnail">

          <a href="<%= entry_path @conn, :show, entry.id, entry.title %>"
             rel="bookmark"
             data-no-turbolink="1"
          >
            <img
              <%# data-src="holder.js/200x132" %>
              <%# src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4=' %>
              <%# style="width: 300px; height: 200px;" %>
              style="width: 200px; height: 132px;"
              src="<%= thumb_one entry.thumbs %>"
              alt="<%= truncate entry.content, length: 100 %>"
              >
          </a>

          <div class="caption">

            <p style='white-space: nowrap;'>
              <%= for tag <- Enum.take(entry.tags, 3) do %>
                <a href="<%= entrytag_path @conn, :index, tag.name %>"
                  title="<%= gettext "Jump to %{tag}'s video results", tag: tag.name %>"
                    rel="category tag">
                  <span class="glyphicon glyphicon-tag label label-primary"><%= tag.name %></span>
                </a>
              <% end %>
            </p>

            <p>
              <h4 style="font-size: 14px; font-weight: bold; ">
                <a style='color: #333;'
                   href="<%= entry_path @conn, :show, entry.id, entry.title %>"
                   rel="bookmark"
                   data-no-turbolink="1"
                >
                  <%= title_with_link @conn, entry %>
                </a>
              </h4>
            </p>

            <%= if false do %>
              <%#= truncate entry.content, length: 50 %>
              <p><%= entry.content %></p>
            <% end %>

            <p class='text-right'>
              <span class="label label-danger "><%= round(entry.time / 60) %><%= gettext " Min" %></span>
              <span class="label label-default"><%= time_ago_in_words entry.published_at %><%= gettext " ago" %></span>
            </p>

          </div>
        </div>
      </div>

    <%# end  # cache end %>
<% end %>

</div>
