html,body {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

/* #wrap { */
  /* min-height: 100%; */
  /* height: auto; */
  /* margin: 94px auto -60px;
  /* padding: 0 0 60px;
/* } */

footer {
  background-color: #f5f5f5;
}

h1,h2,h3,h4,h5,h6,nav {
    /* font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif !important; */
    /* font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif !important; */
    font-family: "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace !important;
}

.pointer {
  cursor: pointer;
}

.linker {
  cursor: pointer;
}

.badge-mini.badge {
    padding: 3px 3px;
    font-size: 10px;
    line-height: 0.7;
}

.no-heading-style {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}


@media (min-width: 768px) {
    .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .container {
        width:1170px
    }
}

.linker:not(.btn), .linker:link:not(.btn) {
  color: #3C80BA;
}

.linker:visited:not(.btn) {
  color: #999999;
}

.linker:hover:not(.btn) {
  color: #23527c;
  text-decoration: underline;
}

.force-foreground {
    position: absolute;
    z-index: 400;
    width: 330px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.force-foreground button.close {
  z-index: 500;
}

.force-foreground .close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=100);
  opacity: 1;
}
