.label-white {
    color: #434a54;
    background-color: white;
    border: 1px solid #aab2bd;
}

.modal-sm {
    width: 300px;
}

.font-middle-size {
  font-size: 30px;
}

.bookmarkhub {
    min-height: 20px;
}

.bookmarkhub a img {
   display: inline-block;
}

.help-title {
    font-size: 10px;
    color: #909090;
}

.loose-list-width * li {
    padding-right: 0px;
    padding-left: 2px;
}

.bold {
    font-weight: bold;
}

.style-off {
    list-style: none;
}

.breadcrumb {
  white-space: nowrap;
}
