.label-white {
    color: #434a54;
    background-color: white;
    border: 1px solid #aab2bd;
}

.modal-sm {
    width: 300px;
}

.font-middle-size {
  font-size: 30px;
}

.bookmarkhub {
    min-height: 20px;
}

.bookmarkhub a img {
   display: inline-block;
}

.help-title {
    font-size: 10px;
    color: #909090;
}

.loose-list-width * li {
    padding-right: 0px;
    padding-left: 2px;
}

.bold {
    font-weight: bold;
}

.style-off {
    list-style: none;
}

.breadcrumb {
  white-space: nowrap;
}

.powered-by, .powered-by * {
    color: #333;
    font-size: 14px;
    margin-left: 23px;
}

.right-ad {
    display: block;
    z-index: 400;
    width: 300px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.right-ad span {
    display: initial !important;
}

.force-foreground {
    position: absolute;
    z-index: 400;
    width: 330px;
    height: 250px;

    /* width: 380px; */
    /* height: 270px; */

    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.force-foreground button.close {
  z-index: 500;
}

.force-foreground img {
    top: -20px;
    position: relative;
}

.force-foreground .close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=100);
  opacity: 1;
}

.force-foreground.sp {
    width: 293px;
    height: 331px;
    left: 26px;
}

.force-foreground.sp .close {
  font-size: 70px;
}

.nearly-box {
    font-size: 14px;
    color: #eee;
    background-color: #222;

    padding: 0;
    margin-bottom: 20px;
}
.nearly-box * {
    font-size: 12px;
    color: #eee;
}
.nearly-title {
    font-size: 14px;
    margin: 10px 0px 0px 10px;
}
.nearly-image {
}
a.nearly-link {
    display: block;
}
a.nearly-link:hover {
    background: #000;
    text-decoration: none;
}
.nearly-slider {
    top: 10px;
    padding: 0;
    margin-top: 0;
}
.nearly-name {
    margin-left: 5px;
}
.nearly-measurements {
    margin-left: 5px;
}
.nearly-parts {
    font-size: 10px;
    margin-left: 5px;
    color: #999;
}

.slick-prev:before,
.slick-next:before {
    color: #000 !important;
    font-size: 70px !important;
}
.slick-next {
    right: 4px !important;
    z-index: 99;
    top: 30% !important;
    color: transparent;
}
.slick-prev {
    left: -44px !important;
    z-index: 100;
    top: 30% !important;
    color: transparent;
}
.nearly-image-wrapper {
    text-align: center;
}
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff !important;
}
img {
    max-width: 100%;
    height: auto;
}

.cover,
.contain {
    display: inline-block;
    position: relative;
    border: 1px solid silver;
    width: 142px;
    height: 160px;
    overflow: hidden;
}
.cover img,
.contain img {
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.cover img {
    min-width: 100%;
    min-height: 100%;
}
.contain img {
    max-width: 100%;
    max-height: 100%;
}

.bgSizeCover,
.bgSizeContain {
    display: inline-block;
    position: relative;
    border: 1px solid silver;
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.bgSizeCover {
    -webkit-background-size: cover;
    background-size: cover;
}
.bgSizeContain {
    -webkit-background-size: contain;
    background-size: contain;
}

.panel.panel-default {
    background-color: #fcfdff;
}
