<div class='container'>

  <ol class="breadcrumb row" style='margin-bottom: 0;'>
    <li><a href="/"><%= gettext "Alternative Name" %></a></li>
    <li class="active">Diva</li>
  </ol>

  <div>
    <h1 style="margin-top: 0;"><small><%= gettext "All Divas" %></small></h1>
    <p><small>
        <%= gettext "diva page title with %{name}", name: gettext("Site Name") %>
    </small></p>
  </div>


  <%= render "_divalist.html", conn: @conn, divas: @divas %>


</div>
